[submodule "src/main/java/fr"]
	path = src/main/java/fr
	url = ../DomainAndDatabases
[submodule "DomainAndDatabases"]
	path = DomainAndDatabases
	url = ../DomainAndDatabases
[submodule "src/main/java/modules"]
	path = src/main/java/modules
	url = ../DomainAndDatabases
